.channelList__div {
  display: flex;
  height: 5%;
  opacity: 93%;
  width: 100%;
  color: white;
  justify-content: right;
  margin-top: 35px;
  cursor: pointer;
}

.channelList__hash {
  font-size: 30px;
  font-weight: bold;
  color: #c1c1c1;
  padding: 0px 10px 0px;
}

.channelList__channel {
  padding-top: 4px;
  font-size: 1.2em;
}

.border-gradient {
  padding: 4px;
  background: #313232;
  background: -moz-linear-gradient(-45deg, #313232 50%, #4f4f4f 50%);
  background: -webkit-linear-gradient(-45deg, #313232 50%, #4f4f4f 50%);
  background: linear-gradient(135deg, #313232 0%, #4f4f4f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='##313232', endColorstr='#4f4f4f',GradientType=1 );
  opacity: 75%;
}
.border-gradient > .margin-fix {
  background-color: white;
  padding: 1px;
  margin: -1px;
}
