.chat {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #363a3f;
  opacity: 93%;
  height: 100vh;
  width: 80%;
}

.chat__messages {
  flex: 1;
  overflow-y: scroll;
  flex-wrap: wrap;
  overflow-wrap: anywhere;
}

.chat__messages::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

.chat__input {
  color: lightgray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border-radius: 5px;
  margin: 20px;
  border-top: 1px solid gray;
  background-color: #474b52;
}

.chat__input > form > input {
  padding: 15px;
  background: transparent;
  border: none;
  width: 100%;
  outline-width: 0;
  color: white;
  font-size: large;
}

.chat__input > form {
  flex: 1;
}

.chat__inputButton {
  display: none;
}

.chat__inputIcons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat__inputIcons > .MuiSvgIcon-root {
  padding: 5px 10px;
}

.border-gradient {
  padding: 4px;
  background: #313232;
  background: -moz-linear-gradient(-45deg, #313232 50%, #4f4f4f 50%);
  background: -webkit-linear-gradient(-45deg, #313232 50%, #4f4f4f 50%);
  background: linear-gradient(135deg, #313232 0%, #4f4f4f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='##313232', endColorstr='#4f4f4f',GradientType=1 );
  opacity: 75%;
}
.border-gradient > .margin-fix {
  background-color: white;
  padding: 1px;
  margin: -1px;
}

.MuiSvgIcon-root {
  padding: 5px;
}
