.mainPage {
  display: flex;
  margin: 0;
}

.sidebar {
  display: flex;
  width: 8%;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.channelList {
  width: 12%;
}
